{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title Meta -->
    <meta charset="utf-8" />
    <title>{% block title %}Analytics | Lahomes - Real Estate Management Admin Template{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully responsive premium admin dashboard template, Real Estate Management Admin Template" />
    <meta name="author" content="Techzaa" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- Vendor css (Require in all Page) -->
    <link href="{% static 'assets/css/vendor.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Icons css (Require in all Page) -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- App css (Require in all Page) -->
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Theme Config js (Require in all Page) -->
    <script src="{% static 'assets/js/config.min.js' %}"></script>

    {% block head_extra %}{% endblock %}  <!-- Allows adding more to head if needed -->

</head>

<body>

    <!-- START Wrapper -->
    <div class="wrapper">
        <!-- Topbar Start (included below, in separate template)-->
        {% include 'includes/topbar.html' %}

        <!-- Right Sidebar (Theme Settings) -->
        {% include 'includes/theme_settings.html' %}

         <!-- App Menu Start -->
         {% include 'includes/main_nav.html' %}

        <!-- ==================================================== -->
        <!-- Start right Content here -->
        <!-- ==================================================== -->
        <div class="page-content">
            <!-- Start Container Fluid -->
            <div class="container-fluid">
                {% block content %}
                <!-- This block will be replaced by specific content on each page -->
                {% endblock %}
            </div>
            <!-- End Container Fluid -->

              <!-- Footer Start -->
            {% include 'includes/footer.html' %}
            <!-- Footer End -->
        </div>
        <!-- ==================================================== -->
        <!-- End Page Content -->
        <!-- ==================================================== -->
    </div>
    <!-- END Wrapper -->

    <!-- Vendor Javascript (Require in all Page) -->
    <script src="{% static 'assets/js/vendor.js' %}"></script>

    <!-- App Javascript (Require in all Page) -->
    <script src="{% static 'assets/js/app.js' %}"></script>

    <!-- Vector Map Js -->
    <script src="{% static 'assets/vendor/jsvectormap/js/jsvectormap.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jsvectormap/maps/world-merc.js' %}"></script>
    <script src="{% static 'assets/vendor/jsvectormap/maps/world.js' %}"></script>

    <!-- Dashboard Js -->
    <script src="{% static 'assets/js/pages/dashboard-analytics.js' %}"></script>

    {% block scripts_extra %}{% endblock %} <!-- Allows adding extra scripts if needed -->
</body>

</html>