{% extends 'base.html' %}

{% block title %}Update Place Service | Your App Name{% endblock %}

{% block content %}
<!-- ========== Page Title Start ========== -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="mb-0 fw-semibold">Update Place Service</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Places Services</a></li>
                 <li class="breadcrumb-item active">Update</li>
            </ol>
        </div>
    </div>
</div>
<!-- ========== Page Title End ========== -->
<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <form method="post">
                  {% csrf_token %}
                    <div class="mb-3">
                         <label for="place_id" class="form-label">Place</label>
                         <select class="form-control" id="place_id" name="place_id" required>
                            {% for place in places %}
                                <option value="{{ place.id }}" {% if place.id == place_service.place_id %}selected{% endif %}>{{ place.name }}</option>
                             {% endfor %}
                         </select>
                    </div>
                    <div class="mb-3">
                          <label for="service_id" class="form-label">Service</label>
                           <select class="form-control" id="service_id" name="service_id" required>
                               {% for service in services %}
                                    <option value="{{ service.id }}" {% if service.id == place_service.service_id %}selected{% endif %}>{{ service.name }}</option>
                                 {% endfor %}
                          </select>
                     </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}